/* Make element full width */
/*u-full-width*/

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  	line-height: 1.61803398875em;
	padding: 0;
	margin: 0;
	font-size: 10vh;
	color: black;
    background: background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}


#silverado{
	align-content: left;
	padding-right: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(216, 205, 188));
    filter: drop-shadow(2px 2px 2px rgb(216, 205, 188));
}

header{
	background: black;
	display: inline-flex;
	padding: 2vw;
	vertical-align: center;
	font-family: 'Monoton', cursive;
	text-align: left;
	font-size: 30px;
	font-stretch: 2px;
	color: white;
	width: 100%; 
}

#cinema {
	align-items: flex-end;
	float: left;
}

footer {
	font-size: small;
    display: inline-flex;
    color: black;
    padding:2vw;
}

h1	{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	font-stretch: 2px;
	color: black;
}


.hideable {
    display: none;
}

ul {
    list-style-type: none;
  	box-sizing: border-box; 
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
	font-family:'Roboto', sans-serif;
	font-size: 3vh;
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

main {
	margin-top: 20px;
	min-height: 800px;
	padding-left:30px;
    display: flex;
    flex-flow: row;
    font-size: 25px;
    color: black;
  	
}

h3{
   font-size: 0.5em;
}



/*html {
      background-image:url('/~e54061/img/card-back-grey.png');
      padding:0px;
      margin:0px;
      font-family:monospace;
      font-size:1.3em;
      color:#111;
      height:100%;
    }
    body {
      background-color:#fff;
      width:90%;
      min-height:90%;
      min-width:600px;
      margin:10px auto;
      padding:20px;
      box-shadow: 0 0 10px #000;
      border-radius: 10px;
    }
    a,
    p span,
    h4 span,
    pre,
    .r
    {color: #B00;}
  .b { font-weight:bold; }
    h1 {text-align: center;}
    h1, h2, form {margin:10px;}
    p,pre {margin-left:30px; word-wrap: break-word; white-space: pre-wrap;}
 */
/*
/* Mobile first queries */

/* Larger than mobile 
@media (min-width: 400px) {}

/* Larger than phablet 
@media (min-width: 550px) {}

/* Larger than tablet 
@media (min-width: 750px) {}

/* Larger than desktop 
@media (min-width: 1000px) {}

/* Larger than Desktop HD 
@media (min-width: 1200px) {}*/