    html {
      background-image:url('/~e54061/img/card-back-grey.png');
      padding:0px;
      margin:0px;
      font-family:monospace;
      font-size:1.3em;
      color:#111;
      height:100%;
    }
    body {
      background-color:#fff;
      width:90%;
      min-height:90%;
      min-width:600px;
      margin:10px auto;
      padding:20px;
      box-shadow: 0 0 10px #000;
      border-radius: 10px;
    }
    a,
    p span,
    h4 span,
    pre,
    .r
    {color: #B00;}
  .b { font-weight:bold; }
    h1 {text-align: center;}
    h1, h2, form {margin:10px;}
    p,pre {margin-left:30px; word-wrap: break-word; white-space: pre-wrap;}
  